################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/KalashnikovDV-KT-43-21/FileContentIndex/3ceba529-f986-407a-bf5c-c19e94b54092.vsidx
