################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/KalashnikovDV-KT-43-21/FileContentIndex/3ceba529-f986-407a-bf5c-c19e94b54092.vsidx
/.vs/KalashnikovDV-KT-43-21/FileContentIndex/b48245a6-fbfb-4197-a873-9ba6a2962ead.vsidx
